* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
nav {
    background: #000;
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}
.logo-brand {
    display: flex;
    align-items: center;
}
div.logo img {
    height: 30px; /* Adjust as needed */
    width: auto;
}
label.brand-name {
    color: white;
    font-size: 30px;
    font-weight: bold;
    margin-left: 10px; /* Add space between logo and brand name */
}
nav ul {
    display: flex;
    align-items: center;
    margin-right: 20px;
}
nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a {
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}
a.active, a:hover {
    background: #2c2b2b;
    transition: .5s;
}
.checkbtn {
    font-size: 30px;
    color: white;
    display: none;
    cursor: pointer;
}
#check {
    display: none;
}
@media (max-width: 900px) {
    label.brand-name {
        font-size: 24px; /* Adjusted for smaller screens */
    }
    div.logo img {
        height: 25px; /* Adjusted for smaller screens */
        width: auto;
    }
    nav ul li a {
        font-size: 14px;
    }
    .head h2 {
        font-size: 24px; /* Adjust the font size for the heading */
        text-align: center; /* Center the heading */
    }
    .head p {
        font-size: 16px; /* Adjust the font size for the paragraph */
        text-align: center; /* Center the paragraph */
    }
    .head img {
        display: block;
        margin: 0 auto;
        height: 80px; /* Adjust the height of the image */
    }
}
@media (max-width: 1050px) {
    .checkbtn {
        display: block;
    }
    nav ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #2c3e50;
        top: 80px;
        left: -100%;
        text-align: center;
        flex-direction: column;
        justify-content: center;
        transition: all .5s;
    }
    nav ul li {
        display: block;
        margin: 20px 0;
    }
    nav ul li a {
        font-size: 20px;
    }
    a:hover, a.active {
        background: none;
        color: #0082e6;
    }
    #check:checked ~ ul {
        left: 0;
    }
    .top-btn button{
        font-size: 1rem;
    }
    .bb .button{
        padding: 5px 5px; /* Some padding */
        font-size: .9rem;
    }
    .description{
        flex-direction: column;
        text-align: center;
        max-width: 860px;
        margin: 0 auto;
        padding: 10px;
    }
    .section-title{
        font-size: 1.2rem;
        padding: 10px;
    }
    .paragraph{
        font-size: 1rem;
        padding: 20px;
    }
    p {
        color: black;
        font-size: 1rem;
        margin-top: -20px;
        line-height: 1.4rem;
        font-weight: 100;
        letter-spacing: 0.05rem;
    }
    .footerNav{
        margin: 0px 20px 0px 0px;
    }
    .footerBottom{
        background-color: #000;
        padding: 30px 10px 10px 10px;
        text-align: center;
    }
}
