:root {
    --primary-color: #293028;
    --secondary-color: #2d642b;
    --text-color: #333;
    --background-color: #f4f4f4;
    --input-background: #fff;
    --input-border: #ccc;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    color: var(--text-color);
    background-color: var(--background-color);
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

header {
    background-color: var(--primary-color);
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}

header img {
    max-width: 150px;
    height: auto;
}

#sections1 {
    background-color: var(--secondary-color);
    padding: 2rem 0;
}

.search-container {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    padding: 2rem;
}

.search-container h2 {
    color: #fff;
    margin-bottom: 1rem;
    font-size: 1.5rem;
}

.search-form {
    display: flex;
    gap: 10px;
    margin-bottom: 1rem;
}

.search-form select,
.search-form input,
.search-form button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
}

.search-form select,
.search-form input {
    flex-grow: 1;
    background-color: var(--input-background);
}

.search-form button {
    background-color: var(--primary-color);
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.search-form button:hover {
    background-color: #1e4e1d;
}

.browse-links {
    text-align: right;
}

.browse-links a {
    color: #fff;
    text-decoration: none;
}


@media (max-width: 768px) {
    .search-form {
        flex-direction: column;
    }
}

