*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    /* Logo*/
    --bk-logo: #2e4053;
    --S-logo: #ffffff;
    --M-logo: #58a4b0;
    /* Container sections*/
    --bk-section: #e6e6e6;
    --text-section: #2e4053;
    /* Category title and page title*/
    --category-title: #ac791c;
    --page-title: #2e4053;
    /* Panel-bar, Footer and their text*/
    --bk-footer: #11181f;
    --bk-footer-sub: #000000;
    --bk-pb: #11181f;
    --text-pb-footer: #FFFFFF;
    /* Background for Web page */
    --bk-center: #e1e8eb;
    --bk-edge: #afc9d6;
    /* Categories colors*/
    --Roles-pr: #1f3a93;
    --Roles-sec: #1c2d63;
    --Skills-pr: #008080;
    --Skills-sec: #00cccc;
    --AI-pr: #800080;
    --AI-sec: #e6e6fa;
    --Mk-pr: #008000;
    --Mk-sec: #32cd32;
}
##body {
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to left, var(--bk-edge), var(--bk-center), var(--bk-edge));
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

a{
    text-decoration: none;
    color: inherit;
}
img {
    height: 100%;
    width: 100%;
}

p {
    color: black;
    font-size: 1.4rem;
    margin-top: 5px;
    line-height: 2.5rem;
    font-weight: 300;
    letter-spacing: 0.05rem;
}
.section-title {
    font-size: 4rem;
    font-weight: 300;
    color: black;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    text-align: center;
}

nav {
    background: var(--bk-pb);
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}
.logo-brand {
    display: flex;
    align-items: center;
}
div.logo img {
    height: 30px; /* Adjust as needed */
    width: auto;
}
label.brand-name {
    color: white;
    font-size: 30px;
    margin-left: 10px; /* Add space between logo and brand name */
    font-family: "Roboto", sans-serif;
    font-weight: 00;
    font-style: thin;
}
nav ul {
    font-family: "Roboto", sans-serif;

    display: flex;
    align-items: center;
    margin-right: 20px;
}
nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a {
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}
a.active, a:hover {
    background: #2c2b2b;
    transition: .5s;
}
.checkbtn {
    font-size: 30px;
    color: white;
    display: none;
    cursor: pointer;
}
#check {
    display: none;
}

/* Head */
#head .container {
    min-height: 10vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-template-columns: auto auto auto;
    padding: 10px;
    gap:20px;
}
#head .head{
    flex-direction: column;
    text-align: center;
    max-width: 1500px;
    margin: 0 auto;
    padding: 40px 0;
}
#head .head h2{
    color: var(--category-title);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2rem;
}
#head .head .title-page{
    font-size: 3rem;
    color: #686e4e;
}
#head .head p{
    color: #686e4e;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#head .head img{
    width: 200px;
    height: 200px;
}

/* Sections */
#sections .container{
    min-height: 10vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-template-columns: auto auto auto;
    padding: 10px;
    gap: 20px;
}
#sections .sections{
    flex-direction: column;
    text-align: center;
    max-width: 860px;
    margin: 0 auto;
    padding: 20px 0;
    padding-bottom: 100px;
}
.top-btn button {
    background-color: rgb(20, 35, 58); 
    border: 1px solid rgb(35, 50, 71); 
    color: rgb(230, 227, 227); 
    padding: 10px 24px; 
    cursor: pointer; 
    float: left; /* Float the buttons side by side */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.4rem;
}
/* Clear floats (clearfix hack) */
.top-btn:after {
    content: "";
    clear: both;
    display: table;
}
.top-btn button:not(:last-child) {
    border-right: none; /* Prevent double borders */
}
/* Add a background color on hover */
.top-btn button:hover {
    background-color: rgb(35, 50, 71);
}
.bb .button {
    background-color: rgb(35, 50, 71); 
    border: 1px solid rgb(20, 35, 58); 
    color: rgb(230, 227, 227); 
    padding: 5px 24px; 
    cursor: pointer; 
    float: left; 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.4rem;
}
.bottom-btn {
    display: flex;
    justify-content: space-between;
}
.bb {
    display: flex;
    flex-direction: column;
}
.bb .button:hover {
    background-color: rgb(20, 35, 58);
}

/* Description */
#description .container {
    min-height: 55vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-template-columns: auto auto auto;
    padding: 10px;
    gap:20px;
    background-color: var(--bk-section);
}
#description .description{
    flex-direction: column;
    text-align: center;
    max-width: 860px;
    margin: 0 auto;
    padding: 60px 0;
}
#description .description .section-title{
    color: var(--text-section);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.4rem;
}
#description .description-top{
    text-align: justify;
    max-width: 800px;
    margin: 0 auto;
}
#description .description-top .paragraph{
    color: var(--text-section);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1rem;
}
/* New courses */
#new-courses .container{
    min-height: 40vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-template-columns: auto auto auto;
    padding: 10px;
    gap: 20px;
    background-color: var(--bk-section);
}
#new-courses .new-courses{
    flex-direction: column;
    text-align: center;
    max-width: 860px;
    margin: 0 auto;
    padding: 60px 0;
}
#new-courses .new-courses .section-title{
    color: var(--text-section);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.4rem;
}
#new-courses .new-courses-top{
    text-align: justify;
    max-width: 1000px;
    margin: 0 auto;
}
#new-courses .new-courses-top .paragraph{
    color: var(--text-section);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: justify;
    font-size: 1rem;

}

/* Top 10 Questions */
#top10 .container {
    min-height: 40vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-template-columns: auto auto auto;
    padding: 10px;
    gap:20px;
    background-color: var(--bk-section);
}
#top10 .top10{
    flex-direction: column;
    text-align: center;
    max-width: 860px;
    margin: 0 auto;
    padding: 60px 0;
}
#top10 .top10 .section-title{
    color: var(--text-section);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.4rem;
}
#top10 .top10-top{
    text-align: justify;
    max-width: 1000px;
    margin: 0 auto;
}
#top10 .top10-top .paragraph{
    color: var(--text-section);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1rem;
}

/* New courses */
#why-rd .container{
    min-height: 20vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-template-columns: auto auto auto;
    padding: 5px;
    gap: 5px;
}
#why-rd .why-rd{
    flex-direction: column;
    text-align: center;
    max-width: 860px;
    margin: 0 auto;
    padding: 2px 0;
}
#why-rd .why-rd-top{
    text-align: justify;
    max-width: 1000px;
    margin: 0 auto;
}
#why-rd .why-rd-top .paragraph{
    color: var(--text-section);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: justify;

}


/* Footer */
footer{
    background-color: var(--bk-footer);
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    max-width: 860px;
}
.footerContainer{
    background-color: #111;
    width: 100%;
    padding: 70px 30px 20px;
    align-items: center;
    justify-content: center;
}
.socialIcons{
    display: flex;
    justify-content: center;
}
.socialIcons a{
    text-decoration: none;
    padding: 10px;
    background-color: var(--text-pb-footer);
    margin: 10px;
    border-radius: 50%;
}
.socialIcons a i{
    font-size: 2em;
    color: black;
    opacity: 0.9;
}
/* Hover Effects on Social Media Icons */
.socialIcons a:hover{
    background-color: #111;
    transition: 0.5s;
}
.socialIcons a:hover i{
    color: var(--text-pb-footer);
    transition: 0.5s;
}
.footerNav{
    margin: 30px 0;
}
.footerNav ul{
    display: flex;
    justify-content: center;
    list-style-type: none;
}
.footerNav ul li a{
    color: var(--text-pb-footer);
    margin: 20px;
    text-decoration: none;
    font-size: 1.3em;
    opacity: 0.7;
    transition: 0.5s;
}
.footerNav ul li a:hover{
    opacity: 1;
}
.footerBottom{
    background-color: var(--bk-footer-sub);
    padding: 20px;
    text-align: center;
}
.footerBottom p{
    color: var(--text-pb-footer);
}
.designer{
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0px 5px;
}
@media (max-width: 700px) {
    .footerNav ul{
        flex-direction: column;
    }
    .footerNav ul li{
        width: 100%;
        text-align: center;
        margin: 10px;
    }
}

/* Certificate Section */
#certificate-section {
    background-color: #e1e8eb; /* Background color for the certificate section */
    padding: 20px;
    margin: 20px 0; /* Adjust margin as needed */
}

.certificate.container {
    background-color: #ffffff; /* Background color for the certificate container */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Shadow for depth */
}

.certificate-top {
    text-align: center;
    margin-bottom: 20px; /* Adjust margin as needed */
}

.certificate-top .section-title {
    color: #2e4053; /* Text color for section title */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2rem;
    margin-bottom: 10px; /* Adjust margin as needed */
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px; /* Adjust margin as needed */
}

form label {
    color: #2e4053; /* Label text color */
    font-size: 1.2rem;
    margin-bottom: 5px; /* Adjust margin as needed */
}

form input[type="text"] {
    padding: 10px;
    width: 300px;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px; /* Adjust margin as needed */
}

form button {
    background-color: #58a4b0; /* Button background color */
    color: #ffffff; /* Button text color */
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1.2rem;
}

form button:hover {
    background-color: #2e8aac; /* Hover background color */
}

.minimized-paragraph {
    cursor: pointer;
    color: #007bff;
    text-decoration: underline;
}

.paragraph-content {
    display: none;
    margin-top: 10px;
}

.paragraph-content.active {
    display: block;
}

.email-style {
    font-style: italic;
    /* You can add more styling here */
}

/* Add the following styles at the end of your style.css */

.results-container {
    text-align: center;
    margin-top: 20px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.results-title {
    font-size: 2rem;
    color: #2e4053;
    margin-bottom: 10px;
}

.results-summary {
    font-size: 1.2rem;
    color: #2e4053;
    margin-bottom: 20px;
}

.results-details {
    text-align: left;
    margin: 0 auto;
    max-width: 500px;
}

.results-details p {
    margin: 5px 0;
}

.restart-quiz-button {
    background-color: #58a4b0;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1.2rem;
}

.restart-quiz-button:hover {
    background-color: #2e8aac;
}
