*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    /* background-color: #2C3E50; */
    margin: 0;
    padding: 0;
    background-image: url(background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
a{
    text-decoration: none;
    color: inherit;
}
img {
    height: 100%;
    width: 100%;
}

p {
    color: black;
    font-size: 1.4rem;
    margin-top: 5px;
    line-height: 2.5rem;
    font-weight: 300;
    letter-spacing: 0.05rem;
}
.section-title {
    font-size: 4rem;
    font-weight: 300;
    color: black;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    text-align: center;
}

/* Topnav */
#topnav .container{
    background: #000;
    max-width: 100%;
    background-color: #111;
    width: 100%;
    padding: 0px 20px 50px;
    align-items: center;
    justify-content: center;
}
.topnav .nav-home{
    background: #111;
    width: 50px;
    height: 50px;
    text-align: center;
    position: relative;
    float: left;
}
.topnav .nav-logo{
    width: 50px;
    height: 50px;
    line-height: 65px;

}
.topnav .nav-options{
    /* background-color: #686e4e; */
    color: white;
    float: left;
    margin: 0 auto;
}

.nav-options ul{
    list-style: none;
}
.nav-options ul li{
    width: 180px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    position: relative;
    float: left;
    font-size: 14px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    background: #111;
    width: 170px;
    /* border: 1px solid #fff; */
    height: 50px;
    line-height: 50px;
    text-align: center;
    float: left;
    color: #e3e4fd;
    font-size: 14px;
    position: relative;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.nav-options ul li:hover {
    background: rgb(20, 35, 58);
}
.nav-options ul ul{
    display: none;
}
.nav-options ul li:hover > ul {
    display: block;
}
.nav-options ul ul ul{
    margin-left: 170px;
    top: 0;
    position: absolute;
}
.topnav .nav-search{
    background: #111;
    color: white;
    width: 400px;
    height: 50px;
    text-align: right;
    position: relative;
    float: right;
}
.topnav .nav-search .nav-text{
    line-height: 50px;
}

/* Head */
#head .container {
    min-height: 10vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-template-columns: auto auto auto;
    padding: 10px;
    gap:20px;
}
#head .head{
    flex-direction: column;
    text-align: center;
    max-width: 1500px;
    margin: 0 auto;
    padding: 80px 0;
}
#head .head h2{
    color: #FFD700;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2rem;
}
#head .head .title-page{
    font-size: 3rem;
    color: #686e4e;
}
#head .head p{
    color: #686e4e;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#head .head img{
    width: 100px;
    height: 100px;
}

/* Sections */
#sections .container{
    min-height: 10vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-template-columns: auto auto auto;
    padding: 10px;
    gap: 20px;
}
#sections .sections{
    flex-direction: column;
    text-align: center;
    max-width: 860px;
    margin: 0 auto;
    padding: 20px 0;
    padding-bottom: 100px;
}
.top-btn button {
    background-color: rgb(20, 35, 58); /* Green background */
    border: 1px solid rgb(35, 50, 71); /* Green border */
    color: rgb(230, 227, 227); /* White text */
    padding: 10px 24px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    float: left; /* Float the buttons side by side */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.4rem;
}
/* Clear floats (clearfix hack) */
.top-btn:after {
    content: "";
    clear: both;
    display: table;
}
.top-btn button:not(:last-child) {
    border-right: none; /* Prevent double borders */
}
/* Add a background color on hover */
.top-btn button:hover {
    background-color: rgb(35, 50, 71);
}
.bb .button {
    background-color: rgb(35, 50, 71); /* Green background */
    border: 1px solid rgb(20, 35, 58); /* Green border */
    color: rgb(230, 227, 227); /* White text */
    padding: 10px 24px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    float: left; /* Float the buttons side by side */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.4rem;
}
.bottom-btn {
    display: flex;
    justify-content: space-between;
}
.bb {
    display: flex;
    flex-direction: column;
}
.bb .button:hover {
    background-color: rgb(20, 35, 58);
}

/* Description */
#description .container {
    min-height: 55vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-template-columns: auto auto auto;
    padding: 10px;
    gap:20px;
    background-color: rgb(20, 35, 58);
}
#description .description{
    flex-direction: column;
    text-align: center;
    max-width: 860px;
    margin: 0 auto;
    padding: 60px 0;
}
#description .description .section-title{
    color: rgb(230, 227, 227);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.4rem;
}
#description .description-top{
    text-align: justify;
    max-width: 800px;
    margin: 0 auto;
}
#description .description-top .paragraph{
    color: rgb(180, 177, 177);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1rem;
}
/* New courses */
#new-courses .container{
    min-height: 40vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-template-columns: auto auto auto;
    padding: 10px;
    gap: 20px;
    background-color: rgb(35, 50, 71);
}
#new-courses .new-courses{
    flex-direction: column;
    text-align: center;
    max-width: 860px;
    margin: 0 auto;
    padding: 60px 0;
}
#new-courses .new-courses .section-title{
    color: rgb(230, 227, 227);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.4rem;
}
#new-courses .new-courses-top{
    text-align: justify;
    max-width: 1000px;
    margin: 0 auto;
}
#new-courses .new-courses-top .paragraph{
    color: rgb(180, 177, 177);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: justify;
    font-size: 1rem;

}

/* Top 10 Questions */
#top10 .container {
    min-height: 40vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-template-columns: auto auto auto;
    padding: 10px;
    gap:20px;
    background-color: rgb(20, 35, 58);
}
#top10 .top10{
    flex-direction: column;
    text-align: center;
    max-width: 860px;
    margin: 0 auto;
    padding: 60px 0;
}
#top10 .top10 .section-title{
    color: rgb(230, 227, 227);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.4rem;
}
#top10 .top10-top{
    text-align: justify;
    max-width: 1000px;
    margin: 0 auto;
}
#top10 .top10-top .paragraph{
    color: rgb(180, 177, 177);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1rem;
}

/* New courses */
#why-rd .container{
    min-height: 20vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-template-columns: auto auto auto;
    padding: 5px;
    gap: 5px;
}
#why-rd .why-rd{
    flex-direction: column;
    text-align: center;
    max-width: 860px;
    margin: 0 auto;
    padding: 2px 0;
}
#why-rd .why-rd-top{
    text-align: justify;
    max-width: 1000px;
    margin: 0 auto;
}
#why-rd .why-rd-top .paragraph{
    color: rgb(180, 177, 177);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: justify;

}


/* Footer */
footer{
    background-color: #111;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    max-width: 860px;
}
.footerContainer{
    background-color: #111;
    width: 100%;
    padding: 70px 30px 20px;
    align-items: center;
    justify-content: center;
}
.socialIcons{
    display: flex;
    justify-content: center;
}
.socialIcons a{
    text-decoration: none;
    padding: 10px;
    background-color: white;
    margin: 10px;
    border-radius: 50%;
}
.socialIcons a i{
    font-size: 2em;
    color: black;
    opacity: 0.9;
}
/* Hover Effects on Social Media Icons */
.socialIcons a:hover{
    background-color: #111;
    transition: 0.5s;
}
.socialIcons a:hover i{
    color: white;
    transition: 0.5s;
}
.footerNav{
    margin: 30px 0;
}
.footerNav ul{
    display: flex;
    justify-content: center;
    list-style-type: none;
}
.footerNav ul li a{
    color: white;
    margin: 20px;
    text-decoration: none;
    font-size: 1.3em;
    opacity: 0.7;
    transition: 0.5s;
}
.footerNav ul li a:hover{
    opacity: 1;
}
.footerBottom{
    background-color: #000;
    padding: 20px;
    text-align: center;
}
.footerBottom p{
    color: white;
}
.designer{
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0px 5px;
}
@media (max-width: 700px) {
    .footerNav ul{
        flex-direction: column;
    }
    .footerNav ul li{
        width: 100%;
        text-align: center;
        margin: 10px;
    }
}