/* Question */
#question .container {
    min-height: 55vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-template-columns: auto auto auto;
    padding: 10px;
    gap:20px;
    background-color: rgb(20, 35, 58);
}
#question .question{
    flex-direction: column;
    text-align: center;
    max-width: 860px;
    margin: 0 auto;
    padding: 60px 0;
}
#question .question .section-title{
    color: rgb(230, 227, 227);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.4rem;
}
#question .question-top{
    text-align: justify;
    max-width: 800px;
    margin: 0 auto;
}
#question .question-top .paragraph{
    color: rgb(180, 177, 177);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1rem;
}

/* Question nd*/
#question-nd .container {
    min-height: 55vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-template-columns: auto auto auto;
    padding: 10px;
    gap:20px;
    background-color: rgb(35, 50, 71);
}
#question-nd .question{
    flex-direction: column;
    text-align: center;
    max-width: 860px;
    margin: 0 auto;
    padding: 60px 0;
}
#question-nd .question .section-title{
    color: rgb(230, 227, 227);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.4rem;
}
#question-nd .question-top{
    text-align: justify;
    max-width: 800px;
    margin: 0 auto;
}
#question-nd .question-top .paragraph{
    color: rgb(180, 177, 177);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1rem;
}